body{
  margin: 0
}

.Canvas{
  height: 80vh;
  width: 100vw;
  background-color: white;
  position: relative;
}

.Footer{
  border: 1px solid black;
  overflow: scroll;
  height: 20vh;
}

.emoji{
  font-size: 48px;
  cursor: pointer;
}
.emoji--active{
  position: absolute;
  top: 0;
  left: 0;
}